.header
{
    background-color: #2c3e50;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1
{
    font-size: 24px;
    font-weight: 600;
}

.create_button
{
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    font-size: 16px;
    font-weight: 500;
}

.create_button:hover
{
    background-color: #229954;
}

@media (max-width: 576px)
{
    .header
    {
        background-color: #2c3e50;
        color: white;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .header h1
    {
        font-size: 18px;
        font-weight: 600;
        margin-right: 10px;
    }

    .create_button
    {
        background-color: #27ae60;
        color: white;
        border: none;
        padding: 10px 18px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        
        font-size: 14px;
        font-weight: 500;
    }
}