/* Container */
.header
{
    background-color: #0e42bd;
    color: white;
    padding: 20px 40px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header h1
{
    font-size: 30px;
    font-weight: 500;
}

/* Button */
.create_button
{
    background-color: #ffffff;
    color: #0e42bd;
    border: none;
    padding: 16px 24px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    font-size: 22px;
    font-weight: 600;
}

.create_button:hover
{
    background-color: #e0e0e0;
}

/* Adaptation */
@media (max-width: 576px)
{
    .header
    {
        background-color: #0e42bd;
        color: white;
        padding: 15px 20px;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .header h1
    {
        font-size: 24px;
        font-weight: 500;

        margin-right: 20px;
    }

    .create_button
    {
        background-color: #ffffff;
        color: #0e42bd;
        border: none;
        padding: 12px 20px;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s;
        
        font-size: 16px;
        font-weight: 600;
    }

    .create_button:hover
    {
        background-color: #e0e0e0;
    }
}