.pagination_container {
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: row;
  gap: 10px;

  background: #0e42bd;
  padding: 10px;
  border-radius: 15px;
  z-index: 1000;
}


.page_button
{
  width: 50px;
  height: 50px;

  background: white;
  color: black;
  border-radius: 25px;

  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  transition: background .2s;
}

.page_button:hover
{
  background: #e0e0e0;
}

.page_button.active
{
  background: #cccccc;
}

.dots
{
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 0 5px;
}


.before-dots.disable
{
  display: none;
}

.current-page.disable
{
  display: none;
}

@media (max-width: 360px) {
    .pagination_container {
      position: fixed;
      bottom: 15px;
      left: 50%;
      transform: translateX(-50%);

      display: flex;
      flex-direction: row;
      gap: 5px;

      background: #0e42bd;
      padding: 5px;
      border-radius: 15px;
      z-index: 1000;
    }

    .page_button
    {
      width: 40px;
      height: 40px;

      background: white;
      color: black;
      border-radius: 20px;

      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      transition: background .2s;
    }

    .dots
    {
      display: flex;
      align-items: center;
      color: #ffffff;
      padding: 0 3px;
    }
}